* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f6f6f6;
}

.no-scroll {
    overflow: hidden;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateX(-5px); }
    to { opacity: 1; transform: translateX(0); }
}

.header {
    background: linear-gradient(97.26deg, #ed3cca .49%, #df34d2 14.88%, #d02bd9 29.27%, #bf22e1 43.14%, #ae1ae8 57.02%, #9a10f0 70.89%, #8306f7 84.76%, #7c1af8 99.15%), linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05));
    padding: 10px 0 5px;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;

    @media (max-width:768px) {
        padding: 5px 0;
    }

    &__container{
        max-width: 1260px;
        margin: 0 auto;
        padding: 0 20px;
    }

    &__bottom {
        display: flex;
        align-items: center;
        padding: 12px 0px;
        gap: 30px;

        @media (max-width:768px) {
        flex-wrap: wrap;
        gap: 15px;
        padding: 8px 0px;
        }
    }

    &__logo {
        flex-shrink: 0;
        img {
        height: 28;
        width: auto;

        @media (max-width:768px) {
        height: 24px;
        }
        }
    }

    &__burger {
        margin-right: 15px;
        display: block;
    }

    &__search {
        flex-grow: 1;
        position: relative;
        max-width: 800px;

         &:hover {
            .header__search-btn svg path {
            fill: #7b2cbf; 
            }
        }

        @media (min-width: 768px) and (max-width: 1024px) {
          max-width: 500px;
        }

        @media (max-width:768px) {
        order: 3;
        width: 100%;
        margin-top: 10px;
        }

        & input {
            width: 100%;
            padding: 20px;
            border: none;
            border-radius: 15px;
            font-size: 14px;
            outline: none;
            box-shadow: 0 1px 3px rgba (0, 0, 0, 0.1);

            &::placeholder {
                color: #ccc;
                font-size: 16px;
            }
        }
    }

    &__search-btn, &__clear-search {
        position: absolute;
        right: 12px;
        top: 29%;
        background: none;
        border: none;
        cursor: pointer;
        color: #ccc;

        & svg path {
            transition: fill 1s ease; 
          }
    }

    &__clear-search {
        &:hover {
            color: #7b2cbf; 
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-left: auto;

        @media (min-width: 768px) and (max-width: 1024px) {
        gap: 20px; 
        }

        @media (max-width:768px) {
        gap: 15px;
        }
    }

    &__location,
    &__enter,
    &__cart {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        cursor: pointer;

        svg {
            width: 24px;
            height: 24px;
        }
    }

   &__text {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 0.5;
    transition: all 0.5s ease;

    &:hover {
         opacity: 1;
    }   

    @media (max-width:768px) {
        display: none;
        }
   } 

    &__cart {
        position: relative;
    }

    &__cart-counter {
        position: absolute;
        top: -5px;
        right: 5px;
        background: #ff2e65;
        color: white;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 480px) {
        flex-direction: row-reverse;
       
        }
    }

    &__simple-menu {
        display: flex;
        gap: 20px;
        list-style: none;
        margin: 0;
        padding: 0;

        @media (max-width: 480px) {
        display: none;
        }
    }

    &__simple-item {
        display: flex;
        align-items: center;
        gap: 6px;
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
        transition: opacity 0.3s;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }

        svg {
            opacity: 0.7;
        }
    }

    &__location-select {
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;

        svg {
            flex-shrink: 0;
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }

         @media (max-width: 480px) {
        display: none;
        }
    }

    &__currency {
        position: relative;
        cursor: pointer;

        &-wrap {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 6px 12px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 6px;
        font-size: 12px;
        color: #fff;
        transition: background 0.2s;
        
        &:hover {
        background: rgba(255, 255, 255, 0.2);
        }
    }

    &-dropdown {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 240px;
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 4px 20px rgba(0,0,0,0.1);
        padding: 8px 0;
        z-index: 1000;
        margin-top: 5px;

        &.active {
        display: block;
        animation: fadeIn 0.2s ease-out;
        }
    }

    &-option {
        padding: 10px 16px;
        display: flex;
        align-items: center;
        gap: 12px;
        transition: background 0.2s;
        cursor: pointer;

        &:hover {
                background: #f8f5ff;
            }
            
        &.active {
            .currency-check {
                opacity: 1;
            }
       }
    }
}
}

.currency{
    &-flag-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        overflow: hidden;
        border-radius: 2px;
    }

    &-flag {
        width: 18px;
        height: 12px;
        min-width: 18px;
        object-fit: cover;
    }

    &-info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &-code {
        font-weight: 500;
        font-size: 14px;
        color: #333;
    }

    &-name {
        font-size: 12px;
        color: #667;
        margin-top: 2px;
    }

    &-check {
        opacity: 0;
        transition: opacity 0.2s;
        flex-shrink: 0;
     }

    &-arrow {
        transition: transform 0.3s;
        flex-shrink: 0;

        .header__currency-current.active & {
            transform: rotate(180deg);
    }
}

&-notification {
    position: fixed;
    top: 100px;
    right: 30px;
    background: #7b2cbf;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    z-index: 1000;
    opacity: 0;
    transition: all 0.3s ease;
    font-size: 14px;
    font-weight: 500;
}
}

.burger {
        &__btn {
            border:1px solid rgba(255, 255, 255, 0.4);
            background-color: transparent;
            border-radius: 15px;
            padding: 10px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 55px;
            width: 55px;
            transition: all 0.3s ease;

            &:hover {
                border-color: #fff;
            } 

            &.active {
                .burger__line:nth-child(1) {
                    transform: translateY(10px) rotate(45deg);
                }
                .burger__line:nth-child(2) {
                    opacity: 0;
                }
                .burger__line:nth-child(3) {
                    transform: translateY(-12px) rotate(-47deg);

                @media (max-width:768px) {
                transform: translateY(-5px) rotate(-47deg);
                }
                }
            }
             @media (max-width:768px) {
                height: 45px;
                width: 45px;
            }
        }

        &__line {
            display: block;
            height: 3px;
            width: 24px;
            background: #fff;
            border-radius: 3px;
            transition: all 0.3s ease;
        }

        &__menu {
            position: fixed;
            top: 123px;
            left: -100%;
            width: 25%;
            height: calc(100vh - 60px);
            background: #fff;
            z-index: 99;
            transition: left 0.3s ease;
            overflow-y: auto;
            box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
            scrollbar-width: thin;
            scrollbar-color: rgba(210, 187, 222, 0.3) transparent;

            @media (min-width: 768px) and (max-width: 1024px) {
               width: 35%;  
            }

            @media (max-width:768px) {
                width: 35%;
                top: 180px;
            }

            &.active {
                left: 0;
                display: block;
            }

            &::-webkit-scrollbar {
                width: 4px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
                margin: 10px 0;
            }

            &::-webkit-scrollbar-thumb {
            background-color: rgba(245, 243, 246, 0.3);
            border-radius: 2px;
        
            &:hover {
                background-color: rgba(237, 237, 239, 0.3);
            }
            }

        }

        &__nav {
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 15px;
            scroll-behavior: smooth;
        }

        &__link {
            padding: 10px 0;
            color: #333;
            font-size: 16px;
            border-bottom: 1px solid #f0f0f0;
            text-decoration: none;
            transition: color 0.2s;

            &:hover {
                color: #7b2cbf;
            }
        }
    }

.main {
    max-width: 1260px; 
    margin: 0 auto;
    
    @media (max-width: 768px) {
        padding: 15px;
    }
}

.swiper {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 15px;

     @media (max-width:768px) {
        padding: 0 10px;
        }

    &-slide { 
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 16px; 
        background-color: #f6f6f6; 
        box-shadow: 0 2px 8px rgba(0,0,0,0.05);
            
        & img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 16px; 
        }  
    }
}

.swiper-button-next,
.swiper-button-prev {
    color: #000; 
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.swiper-button-next {
    right: 30px;
}

.swiper-button-prev {
    left: 30px;
}

.swiper-pagination-bullet {
    background: #ccc; 
    opacity: 1;
    width: 7px;
    height: 7px;
}

.swiper-pagination-bullet-active {
    background: #fff; 
}

.mySwiper:hover .swiper-button-next,
.mySwiper:hover .swiper-button-prev {
  opacity: 1;
}
  
.swiper-slide-active {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px; 
}

.products {
    background-color: #f6f6f6;

    &__title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
        margin-left: 15px;
        color: #333;

        @media (max-width: 768px) {
            margin-left: 10px;
            font-size: 20px;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 15px;
        padding: 0 15px;

        @media (min-width: 768px) and (max-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
        }
        
         @media (max-width:768px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            padding: 0 10px;
        }
    }
}

.product {
    overflow: hidden;
    height: 100%;

    &__image-container {
        position: relative;
        width: 100%;
        height: 260px;
        overflow: hidden;
        background: #f8f8f8;
        border-radius: 12px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: inherit;
    }

    &__discount {
        position: absolute;
        bottom: 10px;
        left: 10px;
        background: #FF2E65;
        color: white;
        font-size: 14px;
        font-weight: bold;
        padding: 4px 8px;
        border-radius: 4px;
        z-index: 2;
    }

    &__cart-btn {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 32px;
        height: 32px;
        background: rgba(144, 140, 180, 0.62);
        border: none;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 2;
        
        img {
            width: 16px;
            height: 16px;
        }
    }

    &__quick-view {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(51, 51, 51, 0.4);
        color: white;
        border: none;
        border-radius: 12px;
        padding: 8px 16px;
        font-size: 14px;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.3s;
        z-index: 3;
    }

    &__image-container:hover &__quick-view {
        opacity: 1;
    }
    
    &__info {
        padding: 12px;
        background-color: #f6f6f6;
    }

    &__price {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 8px;
    }

    &__price-current {
        font-weight: 700;
        font-size: 18px;
        color: #333;
    }

    &__price-old {
        font-size: 14px;
        color: #999;
        text-decoration: line-through;
    }

   
    &__name {
        font-size: 14px;
        font-weight: 400;
        color: #333;
        margin: 0;
        line-height: 1.3;
    }

}

.quick-view {
    &-over {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px;
    }

    &-content {
    position: relative;
    background: #fff;
    border-radius: 16px;
    max-width: 900px;
    width: 100%;
    display: flex;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    animation: modalFadeIn 0.3s ease-out;
    }

    &-left {
    flex: 1;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    }

    &-img {
    max-width: 100%;
    max-height: 400px;
    object-fit: contain;
    border-radius: 8px;
    }

    &-right {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    }

    &-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    }

    &-prices {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
    }

    &-price {
    font-size: 24px;
    font-weight: 700;
    color: #ff2e65;
    }

    &-old-price {
    font-size: 18px;
    text-decoration: line-through;
    color: #999;
    }

    &-discount {
        background: #ff2e65;
        color: #fff;
        padding: 4px 10px;
        border-radius: 4px;
        font-weight: 700;
        font-size: 14px;
    }

    &-add-to-cart {
        background: linear-gradient(to right, #7b2cbf, #9d4edd);
        color: #fff;
        border: none;
        padding: 15px;
        border-radius: 12px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        transition: transform 0.2s;
        margin-top: auto;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 5px 15px rgba(123, 44, 191, 0.3);
        }
    }

    &-close {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #f5f5f5;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;

    &:hover {
    background: #e0e0e0;
    }
}

}

.cart-modal {
    display: none;
    position: absolute;
    top: 80px;
    right: 30px;
    width: 400px;
    max-width: 90vw;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
    opacity 0.3s ease;
    border: 1px solid rgba(0, 0, 0, .08); 
    z-index: 2000;
    overflow: hidden;
    padding: 20px;
    
    &.active {
        transform: translateY(0);
        opacity: 1;
        display: flex;
    }

    &:hover .cart-items-container {
    overflow-y: auto; /* Показываем скролл при наведении на корзину */
    }

     @media (max-width:768px) {
        width: 95%;
        right: 2.5%;
        top: 70px;
        }

    &-checkout {
        background: linear-gradient(to right, #7b2cbf, #9d4edd);
        color: #fff;
        border: none;
        padding: 14px;
        border-radius: 12px;
        font-weight: 600;
        margin-top: 15px;
        cursor: pointer;
        transition: transform 0.2s;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 5px 15px rgba(123, 44, 191, 0.3);
        }


    }

    &-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-height: 70vh;
        width: 100%;
    
    }

    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding-bottom: 16px 24px;
        border-bottom: 1px solid #f0f0f0;
        flex-shrink: 0;
    }

    &-title {
        font-size: 18px;
        font-weight: 600;
        color: #333;
        margin: 0;
    }

    &-clear, &-close {
        border:none;
        background: none;
        cursor: pointer;
        font-size: 14px;
        padding: 6px 12px;
        border-radius: 8px;
        transition: all 0.2s ease;
    }

    &-clear {
        color: #b34dc9;
        flex-shrink: 0;
        &:hover {
            background: #f8f8f8;
            color: #ff2e65;
        }
    }

    &-close {
        color: #b34dc9;
        &:hover {
            background: #f8f8f8;
            color: #333;
        }
    }
  }

  .cart-items-container {
        flex: 1;
        overflow-y: auto;
        padding: 0 20px;
        //overflow-y: hidden; /* Скрываем скролл по умолчанию */
        //transition: overflow-y 0.5s ease;
        scrollbar-width: thin;
       
        &:hover {
        overflow-y: auto;  
    }

    }

  .cart-items {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px 0;
  }

  .cart-item {
    display: flex;
    //justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 12px 0;
    border-bottom: 1px solid #f5f5f5;
    //transition: background 0.2s;
    //animation: fadeIn 0.3s ease forwards;

    &:hover {
        background: #fafafa;
    }

    &:last-child {
        border-bottom: none;
    }

    &-image {
        width: 60px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 8px;
        overflow: hidden;
        background: #f8f8f8;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-details {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &-name {
        //flex: 2;
        font-size: 14px;
        color: #333;
        font-weight: 500;
        line-height: 1.3;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        //white-space: normal;
        overflow: hidden;
        //text-overflow: ellipsis;
    }

    &-meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-price {
        font-weight: 600;
        color: #ff2e65;
        font-size: 15px;
    }

    &-count {
        font-size: 13px;
        color: #667;
        // background: #f5f5f5;
        // padding: 3px 8px;
        // margin: 0 10px;
    }
  }

  .cart-total {
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    padding: 20px;
    margin-top: 15px;
    background: #f9f9f9;
    border-radius: 0 0 16px 16px;
  }

.cart-items-container::-webkit-scrollbar {
    width: 5px; /* Ширина скроллбара */
}
.cart-items-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Цвет трека (дорожки) */
    border-radius: 3px;
}
.cart-items-container::-webkit-scrollbar-thumb {
    background: #d1d1d1; /* Цвет ползунка */
    border-radius: 5px;
}
.cart-items-container::-webkit-scrollbar-thumb:hover {
    background: #b8b8b8; /* Цвет ползунка при наведении */
}


